#search {
  font-family: "Times New Roman";
  background-color: #C2C2C2;
  font-size: 20px;
  border-radius: 7px;
  border-color: ##4D4D4D;
}


#button {
  font-family: "Times New Roman";
  color: white;
  background-color: ##694191;
  font-size: 20px;
  border-radius: 7px;
  border-color: ##4D4D4D;
}

header {
  background-color: #72C2B2;
  color: black;
  width: 50px;
  text-align: center;
}

h5 {
  color: red;
}
