.lookup {
  display: flex;
  flex-direction: column;
  background-color: #C7C7C7;
  justify-content: center;
  padding: 20px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: row;
}


#search {
  font-family: "Times New Roman";
  background-color: #C2C2C2;
  font-size: 20px;
  border-radius: 7px;
  border-color: #4D4D4D;
}


#button {
  font-family: "Times New Roman";
  color: white;
  background-color: #694191;
  font-size: 20px;
  border-radius: 7px;
  border-color: #4D4D4D;
}

#result {
  margin-top: 20px;
}

header {
  background-color: #72C2B2;
  color: black;
  height: 70px;
  text-align: center;
  padding: 20px;
}

h5 {
  color: red;
  font-size: 40px;
}
